<footer>
    <div class="flex flex-between">
        <div class="col-f col-f--1">
            <div class="flex-center logo"><a href="" title=""><img src="./assets/img/logo-1.png" alt=""></a></div>
            <div class="txt-xs">Hãy đến với Nhà Hàng Hương Xưa để trải nghiệm một không gian ăn uống tuyệt vời với những món ngon không thể quên được.</div>
        </div>
        <div class="col-f col-f--2">
            <h4 class="txt-lg">THÔNG TIN LIÊN HỆ</h4>
            <ul class="info-list txt-xs">
                <li>Điện thoại: <a href="tel:(+84) 963 499 896">(+84) 963 499 896</a></li>
                <li>Email: <a href="mailto:huongxua@gmail.com">huongxua@gmail.com</a></li>
                <li>Địa Chỉ: 86 Võ Văn Tần, P. Võ Thị Sáu, Q.3, TP HCM</li>
            </ul>
        </div>
        <div class="col-f col-f--3">
            <h4 class="txt-lg">MẠNG XÃ HỘI</h4>
            <div class="social flex">
                <a href="" title="" class="facebook">facebook</a>
                <a href="" title="" class="instagram">Instagram</a>
                <a href="" title="" class="tiktok">Tiktok</a>
                <a href="" title="" class="youtube">Youtube</a>
            </div>
        </div>
    </div>
</footer>