<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
        <a href="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex">
                <li><a href="/home.html" title="Trang chủ">Trang chủ</a></li>
                <li><a href="" title="Về chúng tôi">Về chúng tôi</a></li>
                <li><a href="" title="Thực đơn">Thực đơn</a></li>
                <li><a href="" title="Hình ảnh">Hình ảnh</a></li>
                <li><a href="" title="Đặt tiệc">Đặt tiệc</a></li>
                <li><a href="" title="Liên hệ">Liên hệ</a></li>
            </ul>
        </div>
    </nav>
</header>
