<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/fancybox.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/fancybox.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        Fancybox.bind("[data-fancybox]", {
            // Your custom options
        });
        $('.home-slider').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            autoplay: true,
            centerPadding: 0,
            dots: true,
            arrows: false
        });
        $('.list-img').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerPadding: 0,
            dots: false,
            arrows: false,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        autoplay: true,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        autoplay: true,
                    }
                }
            ]
        });
        $('.feedback-list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            autoplay: false,
            centerPadding: 0,
            dots: true,
            arrows: false,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });

        var $status = $('.pagingInfo');
        var $slickElement = $('.news-list');
        var $progressBar = $('.progress');
        var $progressBarLabel = $( '.slider__label' );

        $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
            var i = (currentSlide ? currentSlide : 0) + 1;
            $status.text(i + ' - ' + slick.slideCount);
        });
        $slickElement.on('beforeChange init', function(event, slick, currentSlide, nextSlide) {
            var calc = ( (nextSlide) / (slick.slideCount-1) ) * 100;

            $progressBar
                .css('background-size', calc + '% 100%')
                .attr('aria-valuenow', calc );

            $progressBarLabel.text( calc + '% completed' );
        });

        $slickElement.slick({
            slide: '.item',
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            variableWidth: true,
            autoplay: false,
            arrows: true,
            prevArrow: '.nav-news .btn-prev',
            nextArrow: '.nav-news .btn-next',
            dots: false,
            responsive: [
                {
                    breakpoint: 640,
                    settings: {
                        variableWidth: false,
                        slidesToShow: 1,
                    }
                }
            ]
        });


        //accordion
        var accordion_content = $('.accordion .item__content');
        var accordion__header        = $('.accordion .item__header');
        var accordion_active = $('.accordion > .active');
        accordion_content.hide();
        accordion_active.find('.item__content').slideToggle();

        accordion__header.click(function (e) {
            e.preventDefault();
            accordion__header.parent().removeClass('active');
            $(this).parent().toggleClass('active');
            accordion_content.slideUp();
            if (accordion_content.parent('.active')) {
                $(this).parent().find('.item__content').slideToggle();
            }
            return false;
        });
    });
</script>
</body>
</html>