<main>
    <div class="about-us">
        <div class="banner">
            <div class="banner__img"><img src="./assets/img/img-about.jpg" alt=""></div>
        </div>
        <div class="content">
            <div class="container">
                <h1 class="title">VỀ CHÚNG TÔI</h1>
                <div class="des">
                    <h4 class="txt-xl font-avo-bold">NHÀ HÀNG HƯƠNG XƯA</h4>
                    <div class="txt-xl">
                        <p>Nhà hàng chúng tôi luôn luôn đặt khách hàng lên hàng đầu, tận tâm phục vụ mang lại cho khách hàng những trãi nghiệm tuyệt với nhất. Các món ăn với công thức độc quyền sẽ mang lại hương vị mới mẻ cho thực khách.</p>
                        <p>xin chân thành cảm ơn.</p>
                    </div>
                </div>
                <article class="txt-xl">
                    <div class="row">
                        <div class="col-md-7">
                            <p>Đến với nhà hàng <strong>Hương Xưa</strong> quý khách sẽ vô cùng ngạc nhiên bởi sự phong phú của các món
                                ăn được chế biến từ những nguyên liệu tươi
                                ngon nhất, là nơi hội tụ tinh hoa ẩm thực với thực
                                đơn độc đáo hơn 200 món ăn. Cùng với sự chế biến chuyên nghiệp của các đầu bếp với nhiều
                                năm kinh nghiệm làm việc trong và ngoài nước, không sử dụng các nguyên liệu tái sinh hay phẩm màu để đảm bảo mang đến cho quý thực
                                khách những món ăn ngon an toàn sức khỏe.</p>
                        </div>
                        <div class="col-md-5">
                            <div class="img"><img src="./assets/img/img-about-1.png" alt=""></div>
                        </div>
                    </div>
                    <div class="txt-xl">
                        Đặc biệt, nhà hàng <strong>Hương Xưa</strong> có thể đáp ứng được số lượng chỗ ngồi để đón tiếp các đoàn khách lớn, với số lượng hơn 100 khách phục vụ trực tiếp
                        cùng một thời điểm, có phòng V.I.P không gian tách biệt, có tivi, máy lạnh, rộng rãi thoáng mát, phù hợp cho việc đặt tiệc sinh nhật, họp lớp, thôi nôi,...Với đội ngũ nhân viên phục vụ chuyên nghiệp, tận tâm quý thực khách có
                        thể hoàn toàn yên tâm về chất lượng dịch vụ và sự hài lòng bậc nhất, chúng tôi hứa hẹn sẽ mang đến trải nghiệm mới lạ và đẳng cấp cho Quý khách!
                    </div>
                </article>
                <div class="list-img">
                    <div class="item"><a href="./assets/img/img-about-2.jpg" data-fancybox="gallery"><img src="./assets/img/img-about-2.jpg" alt=""></a></div>
                    <div class="item"><a href="./assets/img/img-about-3.jpg" data-fancybox="gallery"><img src="./assets/img/img-about-3.jpg" alt=""></a></div>
                    <div class="item"><a href="./assets/img/img-about-4.jpg" data-fancybox="gallery"><img src="./assets/img/img-about-4.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
</main>