<main>
    <div class="box-contact">
        <div class="container">
            <h1 class="title text-center">THÔNG TIN LIÊN HỆ</h1>
            <div class="cols flex">
                <div class="flex-col">
                    <h4 class="txt-xl">Nhà Hàng Hương Xưa</h4>
                    <div class="info">
                        <div class="des txt-xs">Nhà hàng chúng tôi luôn luôn đặt khách hàng lên hàng đầu, tận tâm phục vụ, mang lại cho khách hàng những trải nghiệm tuyệt vời nhất. Các món ăn với công thức độc quyền sẽ mang lại hương vị mới mẻ cho thực khách. Nhà hàng Hương Xưa xin chân thành cảm ơn.</div>
                        <div class="contact txt-xs">
                            <h5 class="txt-xs font-avo-bold">Nhà hàng chính</h5>
                            <p>Điện thoại: <a href="tel:(+84) 963 499 896" title="">(+84) 963 499 896</a></p>
                            <p>Email: <a href="mailto:huongxua@gmail.com">huongxua@gmail.com</a></p>
                            <p>Địa Chỉ: <span>86 Võ Văn Tần, P. Võ Thị Sáu, Q.3, TP HCM</span></p>
                        </div>
                        <div class="social flex">
                            <a href="" title="" class="facebook">facebook</a>
                            <a href="" title="" class="instagram">Instagram</a>
                            <a href="" title="" class="tiktok">Tiktok</a>
                            <a href="" title="" class="youtube">Youtube</a>
                        </div>
                    </div>
                </div>
                <div class="flex-col">
                    <h4 class="txt-xl">Liên Hệ Với Chúng Tôi</h4>
                    <form action="" method="">
                        <div class="form-group">
                            <input type="text" name="" placeholder="HỌ TÊN">
                        </div>
                        <div class="form-group">
                            <input type="number" name="" placeholder="ĐIỆN THOẠI">
                        </div>
                        <div class="form-group">
                            <input type="email" name="" placeholder="EMAIL">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="*GHI CHÚ"></textarea>
                        </div>
                        <div class="box-btn flex-center">
                            <button type="submit" class="btn-submit txt-lg font-avo-bold">GỬI THÔNG TIN</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4600128186758!2d106.68698487417285!3d10.776036359202672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3af764f77b%3A0xbe1e4ebcac5e59ab!2zTmjDoCBIw6BuZyBIxrDGoW5nIFjGsGE!5e0!3m2!1sfr!2s!4v1705847883316!5m2!1sfr!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</main>