<main>
    <div class="home-slider">
        <div class="item"><img src="./assets/img/slide-1.jpg" alt=""></div>
        <div class="item"><img src="./assets/img/slide-2.jpg" alt=""></div>
        <div class="item"><img src="./assets/img/slide-3.jpg" alt=""></div>
        <div class="item"><img src="./assets/img/slide-4.jpg" alt=""></div>
        <div class="item"><img src="./assets/img/slide-5.jpg" alt=""></div>
    </div>
    <div class="home-about">
        <div class="header">
            <h2 class="title text-center">VỀ CHÚNG TÔI</h2>
        </div>
        <div class="box-content">
            <div class="container">
                <h4 class="txt-xl font-avo-bold">NHÀ HÀNG HƯƠNG XƯA</h4>
                <div class="content txt-xl">
                    <p>Nhà hàng chúng tôi luôn luôn đặt khách hàng lên hàng đầu, tận tâm phục vụ mang lại cho khách hàng những trãi nghiệm tuyệt với nhất. Các món ăn với công thức độc quyền sẽ mang lại hương vị mới mẻ cho thực khách.</p>
                    <p>xin chân thành cảm ơn.</p>
                    <a href="" title="" class="btn-more txt-xl">Xem Thêm</a>
                </div>
            </div>
        </div>
        <div class="box-img">
            <div class="container">
                <div class="list-img">
                    <div class="item"><a href="./assets/img/img-ab-1.png" data-fancybox="gallery"><img src="./assets/img/img-ab-1.png" alt=""></a></div>
                    <div class="item"><a href="./assets/img/img-ab-2.png" data-fancybox="gallery"><img src="./assets/img/img-ab-2.png" alt=""></a></div>
                    <div class="item"><a href="./assets/img/img-ab-3.png" data-fancybox="gallery"><img src="./assets/img/img-ab-3.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-menu">
        <div class="header text-center">
            <h2 class="title line">THỰC ĐƠN</h2>
            <p class="txt-2xl">Các Món Nổi Bật</p>
        </div>
        <div class="box-menu">
            <div class="menu-list">
                <div class="item">
                    <div class="img"><img src="./assets/img/chonhuong.png" alt=""></div>
                    <div class="content text-center">
                        <h4 class="txt-xxl font-avo-bold">Chồn Hương</h4>
                        <span class="txt-xxl">3.850.000đ/ kg</span>
                        <a href="" title="XEM CHI TIẾT" class="btn-view flex-center font-avo-bold txt-lg">XEM CHI TIẾT</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="./assets/img/dui.png" alt=""></div>
                    <div class="content text-center">
                        <h4 class="txt-xxl font-avo-bold">Dúi</h4>
                        <span class="txt-xxl">1.950.000đ/ kg</span>
                        <a href="" title="XEM CHI TIẾT" class="btn-view flex-center font-avo-bold txt-lg">XEM CHI TIẾT</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="./assets/img/don.png" alt=""></div>
                    <div class="content text-center">
                        <h4 class="txt-xxl font-avo-bold">Don</h4>
                        <span class="txt-xxl">2.850.000đ/ kg</span>
                        <a href="" title="XEM CHI TIẾT" class="btn-view flex-center font-avo-bold txt-lg">XEM CHI TIẾT</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="./assets/img/baba.png" alt=""></div>
                    <div class="content text-center">
                        <h4 class="txt-xxl font-avo-bold">Ba Ba Lớn</h4>
                        <span class="txt-xxl">1.250.000đ/ kg</span>
                        <a href="" title="XEM CHI TIẾT" class="btn-view flex-center font-avo-bold txt-lg">XEM CHI TIẾT</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="./assets/img/cuadinh.png" alt=""></div>
                    <div class="content text-center">
                        <h4 class="txt-xxl font-avo-bold">Cua Đinh</h4>
                        <span class="txt-xxl">1.750.000đ/ kg</span>
                        <a href="" title="XEM CHI TIẾT" class="btn-view flex-center font-avo-bold txt-lg">XEM CHI TIẾT</a>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="./assets/img/camatqui.png" alt=""></div>
                    <div class="content text-center">
                        <h4 class="txt-xxl font-avo-bold">Cá Mặt Quỷ</h4>
                        <span class="txt-xxl">2.250.000đ/ kg</span>
                        <a href="" title="XEM CHI TIẾT" class="btn-view flex-center font-avo-bold txt-lg">XEM CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="view-more flex-center">
                <a href="" title="Xem Thêm" class="txt-md white">Xem Thêm</a>
            </div>
        </div>
    </div>
    <div class="home-img">
        <div class="header">
            <h2 class="title text-center">HÌNH ẢNH MỚI NHẤT</h2>
        </div>
        <div class="list-img">
            <div class="item"><a href="./assets/img/img-kh-1.png" data-fancybox="gallery-1"><img src="./assets/img/img-kh-1.png" alt=""></a></div>
            <div class="item"><a href="./assets/img/img-kh-2.png" data-fancybox="gallery-1"><img src="./assets/img/img-kh-2.png" alt=""></a></div>
            <div class="item"><a href="./assets/img/img-kh-3.png" data-fancybox="gallery-1"><img src="./assets/img/img-kh-3.png" alt=""></a></div>
        </div>
        <div class="view-more flex-center">
            <a href="" title="" class="txt-md">Xem Thêm</a>
        </div>
    </div>
    <div class="home-feedback">
        <div class="header">
            <h2 class="title text-center">KHÁCH HÀNG NÓI GÌ?</h2>
        </div>
        <div class="box-feedback">
            <div class="feedback-list">
                <div class="item">
                    <div class="content pr">
                        <div class="customer flex">
                            <div class="img"><img src="./assets/img/avatar.png" alt=""></div>
                            <div class="info txt-xs">
                                <p class="font-avo-bold">NGỌC HƯƠNG</p>
                                <span>khách hàng</span>
                            </div>
                        </div>
                        <div class="text txt-xs font-avo">Nhà hàng sang trọng giữa trung tâm Sài Gòn, các món ăn ngon xuất sắc, phục vụ ân cần đúng nhu cầu khách hàng, chỗ gửi xe ngay xung quanh nhà hàng thuận lợi an toàn</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content pr">
                        <div class="customer flex">
                            <div class="img"><img src="./assets/img/avatar.png" alt=""></div>
                            <div class="info txt-xs">
                                <p class="font-avo-bold">NGỌC HƯƠNG</p>
                                <span>khách hàng</span>
                            </div>
                        </div>
                        <div class="text txt-xs font-avo">Lần đầu tiên trải nghiệm các món ăn đậm chất hoang dã như “thịt chồn hương, Dúi, Don ...” các loại món chỉ tưởng chừng có ở Đà Lạt, Tây Nguyên mà ngay tại nhà hàng Hương xưa. Quá tuyệt vời. </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content pr">
                        <div class="customer flex">
                            <div class="img"><img src="./assets/img/avatar.png" alt=""></div>
                            <div class="info txt-xs">
                                <p class="font-avo-bold">NGỌC HƯƠNG</p>
                                <span>khách hàng</span>
                            </div>
                        </div>
                        <div class="text txt-xs font-avo">Không gian sang trọng, phục vụ nhiệt tình, đồ ăn thì khoi bàn nữa rồi quá phong phú đa dạng,hợp khẩu vị và giá tiền.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content pr">
                        <div class="customer flex">
                            <div class="img"><img src="./assets/img/avatar.png" alt=""></div>
                            <div class="info txt-xs">
                                <p class="font-avo-bold">NGỌC HƯƠNG</p>
                                <span>khách hàng</span>
                            </div>
                        </div>
                        <div class="text txt-xs font-avo">Không gian sang trọng, phục vụ nhiệt tình, đồ ăn thì khoi bàn nữa rồi quá phong phú đa dạng,hợp khẩu vị và giá tiền.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>