<main>
    <div class="box-gallery">
        <div class="banner">
            <div class="banner__img"><img src="./assets/img/img-1.jpg" alt=""></div>
        </div>
        <div class="container">
            <div class="des txt-xl">
                Đến với nhà hàng Hương Xưa quý khách sẽ vô cùng ngạc nhiên bởi sự phong phú của các món ăn được chế biến từ những nguyên liệu tươi ngon nhất, là nơi hội tụ tinh hoa ẩm với thực đơn độc đáo hơn 200 món ăn. Cùng với sự
                chế biến chuyên nghiệp của các đầu bếp với nhiều năm kinh nghiệm, không sử dụng các nguyên liệu tái sinh hay phẩm màu để đảm bảo mang đến cho
                quý thực khách những món ăn ngon an toàn sức khỏe.
            </div>
        </div>
        <div class="gallery">
            <div class="img-full"><a href="./assets/img/img-2.jpg" data-fancybox="gallery"><img src="./assets/img/img-2.jpg" alt=""></a></div>
            <div class="img-list">
                <a href="./assets/img/img-3.jpg" data-fancybox="gallery"><img src="./assets/img/img-3.jpg" alt=""></a>
                <a href="./assets/img/img-4.jpg" data-fancybox="gallery"><img src="./assets/img/img-4.jpg" alt=""></a>
                <a href="./assets/img/img-5.jpg" data-fancybox="gallery"><img src="./assets/img/img-5.jpg" alt=""></a>
            </div>
        </div>
    </div>
</main>