<main>
    <div class="box-menu">
        <h1 class="title">THỰC ĐƠN</h1>
        <ul class="menu-list">
            <li><a href="./assets/img/menu-1.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-1.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-2.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-2.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-3.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-3.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-4.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-4.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-5.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-5.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-6.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-6.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-7.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-7.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-8.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-8.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-9.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-9.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-10.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-10.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-11.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-11.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-12.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-12.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-13.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-13.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-14.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-14.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-15.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-15.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-16.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-16.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-17.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-17.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-18.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-18.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-19.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-19.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-20.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-20.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-21.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-21.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-22.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-22.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-23.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-23.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-24.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-24.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-25.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-25.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-26.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-26.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-27.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-27.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-28.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-28.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-29.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-29.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-30.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-30.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-31.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-31.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-32.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-32.jpg" alt=""></a></li>
            <li><a href="./assets/img/menu-33.jpg" data-fancybox="gallery-menu"><img src="./assets/img/menu-33.jpg" alt=""></a></li>
        </ul>
    </div>
</main>