<main>
    <div class="box-order">
        <div class="banner">
            <div class="banner__img"><img src="./assets/img/banner-order.jpg" alt=""></div>
        </div>
        <div class="content pr">
            <div class="container">
                <h1 class="title text-center">ĐẶT TIỆC</h1>
                <div class="order-phone text-center">
                    <h3 class="font-avo-bold txt-2xl">“ĐẶT TIỆC QUA ĐIỆN THOẠI”</h3>
                    <p class="txt-xl">
                        Để được lựa chọn không gian yêu thích tại nhà hàng, hãy gọi theo hotline:
                        <a href="tel:(+84) 963 499 896">(+84) 963 499 896</a>
                        để chúng mình tư vấn và giữ bàn cho bạn nhé!
                    </p>
                </div>
                <div class="order-website">
                    <h3 class="font-avo-bold txt-2xl">“ĐẶT TIỆC TRÊN WEBSITE”</h3>
                    <form action="" method="">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="HỌ TÊN">
                            </div>
                            <div class="form-group">
                                <input type="email" name="" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="number" name="" placeholder="ĐIỆN THOẠI">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" placeholder="Địa chỉ">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Ngày đến">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" placeholder="Giờ đến">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" name="" placeholder="SỐ LƯỢNG KHÁCH">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="*GHI CHÚ"></textarea>
                        </div>
                        <button type="submit" class="btn-submit font-avo-bold txt-xl">Đặt bàn</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>