:root{
  --blue: #0061AF;
  --UTMAvo: UTMAvo, sans-serif;
  --UTMAvoBold: UTMAvoBold, sans-serif;
  --Roboto-Regular: Roboto-Regular, sans-serif;
  --UTMAvoItalic: UTMAvoItalic, sans-serif;
  --UTMTrajanProBold: UTMTrajanProBold, sans-serif;
}
body{
  background: url("#{$img-path}/bg-body-1.jpg") repeat 0 0;
  font-family: var(--UTMAvo);
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}

a{transition: .25s;}
a:hover{text-decoration: none;}

@font-face {
  font-family: UTMAvo;
  src: url('#{$font-path}/UTMAvo.ttf');
}

@font-face {
  font-family: UTMAvoBold;
  src: url('#{$font-path}/UTMAvoBold.ttf');
}
@font-face {
  font-family: Roboto-Regular;
  src: url('#{$font-path}/Roboto-Regular.ttf');
}
@font-face {
  font-family: UTMAvoItalic;
  src: url('#{$font-path}/UTMAvoItalic.ttf');
}
@font-face {
  font-family: UTMTrajanProBold;
  src: url('#{$font-path}/UTMTrajanProBold.ttf');
}

//header
header{
  width: 100%; height: vw(130px);
  background: url("#{$img-path}/bg-nav.jpg") no-repeat 0 0/100% 100%;
  position: fixed;
  z-index: 91;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar{
  height: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: vw(12px) vw(84px);
  border-radius: 0; border: none;
  .logo{width: vw(260px); display: block; margin: 0 vw(65px) 0 0;}
}
.navbar-collapse{
  padding: 0; flex-grow: initial;
  .close{display: none;}
}
.navbar-nav{
  align-items: center;
  > *+*::after{
    content: "";
    width: 1px; height: vw(30px);
    background: #f9c375;
    position: absolute; left: 0; top: 52%; transform: translateY(-50%);
  }
  > li{padding: 0 vw(22px); position: relative;}
  > li > a{display: block; font: vw(24px) var(--UTMAvoBold); color: #f9c375; position: relative; text-transform: uppercase;}
  > li > .active{color: #e9e8e7;}
  > li > a:hover{color: #e9e8e7;}
}
//main
main{padding-top: vw(130px); overflow: hidden;}
.home-slider{
  .slick-dots{position: absolute; bottom: vw(40px);}
}
.home-about{
  padding-top: vw(74px); position: relative;
  h2.title{margin-bottom: vw(40px);}
  .content{padding-bottom: vw(54px); line-height: 1.3;}
  .box-img{
    width: 100%; padding: vw(96px) 0 vw(67px);
    background: url("#{$img-path}/bg-about.jpg") no-repeat 0 0/cover;
    position: relative;
    &::after{
      content: "";
      width: vw(279px); height: vw(257px);
      background: url("#{$img-path}/ot.png") no-repeat 0 0/contain;
      position: absolute; right: vw(33px); bottom: vw(-138px);
    }
  }
  .list-img{
    margin: 0 -10px;
    .item{margin: 0 10px;}
  }
  .btn-more{
    color: #000;
    &:hover{border-bottom: 1px solid #000;}
  }
}
.home-menu{
  padding-top: vw(80px); position: relative;
  &::after{
    content: "";
    width: vw(394px); height: vw(254px);
    background: url("#{$img-path}/toi.png") no-repeat 0 0/contain;
    position: absolute; left: vw(6px); bottom: vw(-156px);
  }
  .header{margin-bottom: vw(86px);}
  h2.title{margin-bottom: vw(28px);}
  .box-menu{
    padding: vw(85px) vw(50px) vw(60px);
    background: url("#{$img-path}/bg-menu.jpg") no-repeat center center/cover;
  }
  .menu-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: vw(92px);
    grid-column-gap: vw(26px);
    .item{padding: vw(18px); background: #fff; border-radius: vw(15px);}
    .img{
      margin-bottom: vw(12px);
      img{
        border-radius: vw(15px);
        box-shadow: 0px 3px 18px 2px rgba(23, 12, 0, 0.8);
      }
    }
    h4{margin-bottom: 0; color: #421503; line-height: 1.4;}
    span{color: #ea1c24;}
    .btn-view{
      width: vw(300px); height: vw(62px);
      margin: vw(20px) auto vw(-50px);
      background: #fac375;
      border-radius: vw(15px);
      box-shadow: 0px 3px 9px 1px rgba(23, 12, 0, 0.8);
      color: #000;
      &:hover{background: #f3b257;}
    }
  }
  .view-more{margin-top: vw(70px);}
}
.home-img{
  padding: vw(80px) 0 vw(50px);
  .header{margin-bottom: vw(45px);}
  .list-img{
    padding: 0 vw(50px);
    margin-bottom: vw(45px);
    .item{margin: 0 10px; padding: 15px 0;}
    img{border-radius: vw(15px); box-shadow: 0px 3px 9px 1px rgba(23, 12, 0, 0.8);}
  }
}
.home-feedback{
  margin-bottom: vw(58px); position: relative;
  .header{margin-bottom: vw(65px);}
  .box-feedback{
    padding: vw(168px) 0 vw(33px);
    background: url("#{$img-path}/bg-fb.jpg") no-repeat 0 0/cover;
    position: relative;
    &::after{
      content: "";
      width: vw(316px); height: vw(218px);
      background: url("#{$img-path}/hanh.png") no-repeat 0 0/contain;
      position: absolute; right: vw(24px); top: vw(-136px);
    }
  }
  .feedback-list{
    padding: 0 vw(35px);
    .item{
      margin: 0 vw(15px);
      background: #fff;
      padding: vw(6px);
      border-radius: vw(15px);
    }
    .content{height: 100%; padding: vw(11px) vw(37px) vw(60px); border: 1px dashed #202020; border-radius: vw(15px);}
    .text{font-style: italic; line-height: 1.4;}
    .customer{
      margin-bottom: vw(48px);
      .img{width: vw(105px); height: vw(105px);}
      .info{padding: vw(10px) 0 0 vw(40px);}
      span{display: inline-block; font-style: italic; margin-top: vw(5px);}
    }
    .content::after{
      content: "";
      width: vw(50px); height: vw(53px);
      background: url("#{$img-path}/quote.png") no-repeat 0 0/contain;
      position: absolute; top: vw(27px); right: vw(27px);
    }
  }
  .slick-dots{margin-top: vw(90px);}
  .slick-track {display: flex !important;}
  .slick-slide {height: inherit !important;}
}

//category
.about-us{
  .content{padding: vw(70px) 0;}
  .des{margin-bottom: vw(70px); line-height: 1.3;}
  .title{margin-bottom: vw(40px);}
  article{
    line-height: 1.3;
    .row{margin-bottom: vw(70px);}
    strong{font-family: var(--UTMAvoBold);}
  }
  h4{margin-bottom: 0;}
  .list-img{
    margin: vw(86px) vw(-17px) 0;
    .item{margin: 0 vw(17px);}
    img{border-radius: vw(15px);}
  }
}
.fancybox__content img{border-radius: 15px;}
.box-menu{
  padding: vw(158px) vw(50px) vw(76px);
  .title{margin-bottom: vw(76px);}
  .menu-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}
.box-gallery{
  .des{padding: vw(88px) 0 vw(95px);}
  .gallery{padding: 0 vw(50px) vw(160px);}
  .img-full{margin-bottom: vw(26px);}
  .img-list{display: grid; grid-template-columns: repeat(3,1fr); grid-gap: vw(28px);}
}
.box-order{
  .title{
    padding: vw(74px) 0; position: relative;
    &::after{
      content: "";
      width: vw(773px); height: vw(182px);
      background: url("#{$img-path}/line-1.png") no-repeat 0 0/contain;
      position: absolute; left: 50%; transform: translateX(-50%); top: 0;
    }
  }
  .content{
    padding-bottom: vw(338px);
    background: url("#{$img-path}/bg-order.jpg") no-repeat 0 0/cover;
    &::after{
      content: "";
      width: vw(361px); height: vw(541px);
      background: url("#{$img-path}/bong.png") no-repeat 0 0/contain;
      position: absolute; top: vw(-112px); left: vw(-15px);
    }
  }
  .order-phone{
    margin-bottom: vw(74px); line-height: 1.3;
    h3{margin-bottom: vw(30px); color: #421503;}
    a{color: #000; font-family: var(--UTMAvoBold);}
  }
  .order-website{
    h3{margin-bottom: vw(38px); color: #421503; text-align: center;}
  }
  form{
    padding: vw(50px) vw(50px) vw(30px); background: #421503;
    box-shadow: 0px 3px 9px 1px rgba(23, 12, 0, 0.8);
    border-radius: vw(15px); border: solid vw(2px) #fac375;
    position: relative;
    .form-group{margin-bottom: vw(21px);}
    .form-row{
      justify-content: space-between; margin: 0;
      .form-group{width: 49%;}
    }
    input,textarea{
      width: 100%; background: #fff; border: none; border-radius: vw(15px);
      color: #333;
      font: vw(20px) var(--Roboto-Regular);
      &:focus{outline: none;}
      &::placeholder{color: #6b6b6b;}
    }
    input{padding: 0 vw(22px); height: vw(65px); text-transform: uppercase;}
    textarea{height: vw(600px); padding: vw(22px);}
    .btn-submit{
      width: vw(278px); height: vw(93px);
      background: #421503;
      display: flex; align-items: center; justify-content: center;
      border-radius: vw(10px);
      border: vw(2px) solid #fac375;
      margin: 0 auto;
      box-shadow: 0px 3px 9px 1px rgba(23, 12, 0, 0.8);
      color: #fac375;
      text-transform: uppercase;
      position: absolute; left: 50%; transform: translateX(-50%); bottom: vw(-160px);
      &::after{
        content: "";
        width: calc(100% - 10px); height: calc(100% - 10px);
        border: vw(1px) solid #fac375;
        position: absolute; top: 5px; left: 5px;
      }
      &:hover{@include hover;}
    }
  }
}
.box-contact{
  padding: vw(140px) 0 vw(100px);
  .title{margin-bottom: vw(100px);}
  .cols{justify-content: space-between;}
  .flex-col{
    width: 49.5%;
    padding: vw(50px) 18px 18px;
    border-radius: vw(15px);
    box-shadow: 0px 3px 9px 1px rgba(23, 12, 0, 0.8);
    border: solid vw(2px) #fac375;
    background-color: #421503;
  }
  .info{
    border-radius: vw(15px);
    border: vw(2px) solid #fff;
    padding: vw(18px);
    color: #fff;
    line-height: 1.4;
  }
  .contact{
    margin-bottom: vw(30px); line-height: 1.5;
    p{margin-bottom: vw(7px);}
    h5{margin-bottom: vw(30px);}
    a,span{color: #fac375;}
  }
  .social{
    >*+*{margin-left: vw(22px);}
    a{width: vw(40px); height: vw(40px); font-size: 0;}
  }
  .box-map{
    margin-top: vw(58px);
    height: vw(502px);
    box-shadow: 0px 3px 9px 1px rgba(23, 12, 0, 0.8);
    border-radius: vw(15px);
    overflow: hidden;
    iframe{width: 100%; height: 100%; object-fit: cover;}
  }
  form{
    .form-group{margin-bottom: vw(18px);}
    input,textarea{
      width: 100%;
      padding: vw(15px) vw(36px);
      background: #fff; border: none; border-radius: vw(15px);
      color: #6b6b6b; font: vw(20px) var(--Roboto-Regular);
      &:focus{outline: none;}
    }
    input{height: vw(65px);}
    textarea{height: vw(130px);}
    .btn-submit{
      padding: vw(15px) vw(26px);
      border-radius: vw(15px);
      box-shadow: 0px 3px 9px 1px rgba(23, 12, 0, 0.8);
      background: #fac375;
      color: #421503;
      &:hover{@include hover;}
    }
  }
  .des{margin-bottom: vw(25px);}
  h4{margin-bottom: vw(45px); color: #fac375; text-align: center;}
}

footer{
  padding: vw(38px) vw(110px) vw(72px);
  background: #431404;
  color: #fff;
  line-height: 1.4;
  position: relative;
  &::after{
    content: "";
    width: 100%; height: 1px;
    background: #f3e931;
    position: absolute; left: 0; bottom: vw(35px);
  }
  h4{font-family: var(--UTMTrajanProBold); color: #f3e931;}
  .col-f{
    padding: 0 15px;
    &--1{max-width: vw(456px);}
    &--2{
      padding-top: vw(39px);
      h4{margin-bottom: vw(82px);}
    }
    &--3{
      padding-top: vw(39px);
      h4{margin-bottom: vw(58px);}
    }
  }
  .social{
    >*+*{margin-left: vw(22px);}
    a{width: vw(45px); height: vw(45px); font-size: 0;}
  }
  .info-list{
    >*+*{margin-top: vw(6px);}
    a{color: #fff;}
  }
  .logo{width: vw(357px); display: block; margin-bottom: vw(20px);}
}

.view-more{
  a{padding-bottom: vw(10px); border-bottom: 2px solid currentColor; color: #000;}
  a:hover{color: #421503;}
  .white{color: #fff;}
}
.slick-dots{
  display: flex; align-items: center; justify-content: center;
  width: 100%;
  li{margin: 0 vw(5px);}
  button{
    width: vw(16px); height: vw(16px);
    background: #848484;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
  }
  .slick-active button{background: #fff;}
}
//uikit
.icon{display: inline-block;}
.pr{position: relative;}

.social{
  a{font-size: 0;}
  a:hover{@include hover;}
  .facebook{background: url("#{$img-path}/fb.png") no-repeat 0 0/contain;}
  .instagram{background: url("#{$img-path}/instagam.png") no-repeat 0 0/contain;}
  .tiktok{background: url("#{$img-path}/tiktok.png") no-repeat 0 0/contain;}
  .youtube{background: url("#{$img-path}/youtube.png") no-repeat 0 0/contain;}
}

button{
  padding: 0; border: none; background: none; cursor: pointer;
  &:focus{outline: none}
}
.txt-xxl{font-size: vw(48.5px);}
.txt-2xl{font-size: vw(45px);}
.txt-xl{font-size: vw(40px);}
.txt-lg{font-size: vw(32px);}
.txt-md{font-size: vw(30px);}
.txt-xs{font-size: vw(20px);}

.fw-b{font-weight: 700;}
.fw-sm{font-weight: 600;}

.mb-md{margin-bottom: 20px;}

h2.title{
  font: vw(56px) var(--UTMTrajanProBold);
  line-height: 1.4;
  color: #421503;
  text-transform: uppercase;
  &.line{
    padding-bottom: vw(24px); position: relative;
    &::after{
      content: "";
      width: vw(172px); height: vw(2px);
      background: #421503;
      position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
    }
  }
}
h1.title{font: vw(56px) var(--UTMTrajanProBold); color: #421503; text-align: center;}
.font-avo-bold{font-family: var(--UTMAvoBold);}
.font-avo{font-family: var(--UTMAvo);}



@media (min-width: 1600px){
  .container{max-width: 1554px;}

}

@media (max-width: 1024px) {
  header{background: #431404; height: auto;}
  .navbar{
    width: 100%; padding: 6px 15px; justify-content: flex-start;
    .logo{width: 130px;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 63px; left: -100%;
    width: 100%; height: 100%;
    padding: 18px 16px;
    background: #431404;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggler{
    display: block !important;
    width: 20px;
    height: 14px;
    padding: 0;
    background: none; border: none;
    position: absolute; right: 15px; z-index: 999;
    span{
      display: block; width: 20px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    span{width: 20px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0;
    >*+*::after{display: none;}
    li{padding: 20px 0;}
    li{width: 100%; display: flex; align-items: center; justify-content: center;}
    > li > a{text-align: center; font-size: 16px;}
  }
  main{padding-top: 63px;}
  .container{max-width: 100%;}

}
@media (max-width: 820px) {

}
@media (max-width: 767px) {
  .home-menu{
    .menu-list{
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 15px;
      grid-row-gap: 40px;
      .btn-view{width: auto; max-width: 60%; height: 40px; margin: 20px auto -20px;}
    }
  }
  .about-us{
    .content{padding: 30px 0;}
    .col-md-7{margin-bottom: 30px;}
    .des,.list-img{margin-top: 30px;}
    article{
      .row{margin-bottom: 30px;}
    }
  }
  .box-order{
    .title{
      padding: 40px 0;
      &::after{
        width: 300px; height: 71px; top: 20%;
      }
    }
    .content{padding-bottom: 160px;}
    .order-website{
      h3{margin-bottom: 30px;}
    }
    .order-phone{margin-bottom: 40px;}
    form{
      padding: 30px 15px 20px;
      .form-row .form-group{width: 100%;}
      .form-group{margin-bottom: 16px;}
      input,textarea{border-radius: 10px; font-size: 14px;}
      input{height: 40px; padding: 0 15px;}
      textarea{height: 130px; padding: 15px;}
      .btn-submit{width: 200px; height: 66px; bottom: -100px; border-radius: 6px;}
    }
  }
  .box-contact{
    padding: 40px 0;
    .flex-col{width: 100%; margin-bottom: 30px; padding: 20px;}
    .info{padding: 12px;}
    h4{margin-bottom: 20px;}
    form{
      .form-group{margin-bottom: 16px;}
      input,textarea{ font-size: 14px; border-radius: 10px;}
      input{height: 38px; padding: 5px 15px;}
      textarea{padding: 15px; height: 130px;}
      .btn-submit{padding: 10px 15px; border-radius: 10px;}
    }
    .des,.contact,.contact h5{margin-bottom: 15px;}
    .box-map{height: 220px; margin-top: 0; border-radius: 10px;}
    .social{
      >*+*{margin-left: 15px;}
      a{width: 26px; height: 26px;}
    }
  }
  footer{
    padding: 30px 0;
    .col-f{
      width: 50%;
      &--1{max-width: inherit;}
    }
  }

  h2.title,h1.title{font-size: 36px;}
  .txt-xxl{font-size: 30px;}
  .txt-2xl{font-size: 26px;}
  .txt-xl{font-size: 24px;}
  .txt-xs{font-size: 12px;}
  .txt-lg{font-size: 22px;}
  .txt-md{font-size: 20px;}
}
@media (max-width: 640px) {
  .navbar{
    .logo{width: 110px;}
  }
  .navbar-collapse{top: 56px;}
  main{padding-top: 56px;}
  .home-about{
    padding-top: 50px;
    h2.title{margin-bottom: 30px;}
    .box-img{padding: 30px 10px;}
    .content{padding-bottom: 25px;}
    .list-img{
      margin: 0 -5px;
      .item{margin: 0 5px;}
    }
  }
  .home-menu{
    padding-top: 50px;
    .header{margin-bottom: 30px;}
    .menu-list{
      grid-template-columns: repeat(1,1fr);
      .img{
        margin-bottom: 15px;
        img{border-radius: 15px;}
      }
      .item{padding: 20px; border-radius: 15px;}
      .btn-view{margin-bottom: -35px;}
    }
    .box-menu{padding: 30px 20px;}
  }
  .home-img{
    padding: 40px 0;
    .header{margin-bottom: 30px;}
    .list-img{
      margin-bottom: 30px;
      img{border-radius: 10px;}
    }
  }
  .home-feedback{
    margin-bottom: 30px;
    .header{margin-bottom: 30px;}
    .feedback-list{
      .item{padding: 8px;}
      .content{padding: 8px 15px 20px;}
      .content::after{width: 28px; height: 30px; top: 8px; right: 10px;}
      .customer{
        .img{width: 40px; height: 40px;}
      }
    }
  }
  .home-slider{
    .slick-dots{bottom: 20px;}
    .item img{min-height: 220px; object-fit: cover;}
  }
  .box-order{
    .title{
      padding: 40px 0;
      &::after{
        width: 260px; height: 61px; top: 10%;
      }
    }
  }

  .about-us,.box-menu{
    .title{margin-bottom: 30px;}
  }
  .box-menu{
    .menu-list{grid-template-columns: repeat(1,1fr);}
  }
  .slick-dots{
    li{margin: 0 5px;}
    button{width: 10px; height: 10px;}
  }

  footer{
    &::after{bottom: 20px;}
    .logo{width: 150px; margin-bottom: 20px;}
    .col-f{
      width: 100%; margin-bottom: 30px;
      &--3 h4{margin-bottom: 20px;}
    }
    .social{
      >*+*{margin-left: 15px;}
      a{width: 30px; height: 30px;}
    }
  }

  h2.title,h1.title{font-size: 30px;}
  .txt-xxl{font-size: 24px;}
  .txt-2xl{font-size: 22px;}
  .txt-xl{font-size: 19px;}
  .txt-xs{font-size: 13px;}
  .txt-lg{font-size: 20px;}
  .txt-md{font-size: 18px;}
}

